* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Sans', sans-serif;
    margin: 0; 
}
p, li, a {
    text-decoration: none;
    font-size: 16px;
}
header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 9999;
    top: 0; 
}
header menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1D2D44;
    padding: 10px;
}
header menu div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

header menu div img {
    width: auto;
    height: auto;
    max-height: 80px;
}
header menu nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
nav li {
    list-style: none;
    padding: 0 20px;
}
nav li a {
    color: #F0EBD8;
    text-transform: uppercase;
}
.dif {
    color: #748CAB;
}
main {
    width: 100%;
    min-height: 100vh; 
    background: linear-gradient(#3E5C76, #3E5C76) left, linear-gradient(#f9f9f9, #f9f9f9) right;
    background-size: 50%;
    background-repeat: no-repeat;
    padding-top: 100px; 
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto; 
    min-height: 50%; 
    background-color: #f9f9f9;
    position: relative; 
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.box .left, .box .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: auto; 
    padding: 15px;
}
.box .left {
    background-color: #f9f9f9;
}
.box .left img{
    /* clip-path: circle(); */
    border-radius: 10px;
    padding-bottom: 5px;
}
.box .right {
    background-color: #3E5C76;
}
.box .right h2{
    padding:15px 0;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.box .right h4{
    padding: 20px 0;
}
.buttons{
    padding: 20px;
}
.buttons a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 7px;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    margin: 0 20px;
}
.buttons a:hover{
    transition: 1s linear;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    background-color: #748CAB;
}
footer {
    background-color: #1D2D44;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
footer div img {
    width: auto;
    height: auto;
    max-height: 80px; 
}
footer .footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .footer-text li{
    list-style: none;
}
footer .footer-text a{
    padding: 0 20px;
    color: #F0EBD8;
    text-transform: uppercase;
}