/* Base: White
Header: (#1F2937)
Bg: (#F9FAFB)
Button/Links: (#14B8A6)
Hover: (#F59E0B)
Input field: #D1D5DB
Muted Gray/Charcoal Gray: #9CA3AF/#374151
 */

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
p,a,li,figcaption,label{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
/* header */

header{
    display: flex;
    align-items: center;
    background-color: #1F2937;
    height: 150px;
    width: 100%;
    position: fixed;
    z-index: 9999;
}
#header-ctn-pg{
    display: flex;
    align-items: center;
    background-color: #1F2937;
    height: 150px;
    width: 100%;
    position: sticky;
}
header nav{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#header-ctn-pg nav{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
header menu{
    display: flex;
    list-style: none;
}
#header-ctn-pg menu{
    display: flex;
    list-style: none;
}
header menu li{
    padding: 5px 20px;
}
#header-ctn-pg menu li{
    padding: 5px 20px;
}
header menu li a{
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: solid 2px #1F2937;
    border-left: solid 2px white;
    padding: 0 10px;
    transition: all .4s ease-in-out;
}
#header-ctn-pg menu li a{
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: solid 2px #1F2937;
    border-left: solid 2px white;
    padding: 0 10px;
    transition: all .4s ease-in-out;
}
header menu a:hover{
    border-bottom: solid 2px white;
    transition: all .4s ease-in-out;
    border-left: solid 2px #1F2937;
}
#header-ctn-pg menu a:hover{
    border-bottom: solid 2px white;
    transition: all .4s ease-in-out;
    border-left: solid 2px #1F2937;
}
header div img{
    width: 150px;
    height: 100%;
}
#header-ctn-pg div img{
    width: 150px;
    height: 100%;
}
/* home page */
.main-mh{
    height: 100vh;
    background-image: url("../media/WhatsApp\ Image\ 2025-01-28\ at\ 9.59.54\ AM.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 100%, 50% 91%, 0 100%, 0 0);
    /* background-color: red; */
}
.mask{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .5);
}
.mask h1{
    color: white;
    font-size: 100px;
}
.mask p{
    width: 50%;
    color: white;
    font-size: 20px;
}
.row-1, .row-2, .row-3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 10px;
}
.row-1-text, .row-2-text, .row-3-text{
    padding: 0 10px;
}
.row-1-img img, .row-2-img img, .row-3-img img{
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.116);
    width: 500px;
    height: 500px;
}
.slide-right{
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: .5s all ease;
}
.slide-right.active{
    transform: translateX(0);
    opacity: 1;
}
.slide-left{
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: .5s all ease;
}
.slide-left.active{
    transform: translateX(0);
    opacity: 1;
}
.slider{
    height: 500px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: #374151;
}
.slider-nav{
    width: 12px;
    height: 12px;
    margin: 20px 12px;
    z-index: 10;
    outline: 6px solid #14B8A6;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
}
.slider-nav:checked{
    animation: check .5s linear forwards;
}
.slider-nav:checked:nth-of-type(1)~.slider-inner{
    left: 0%;
}
.slider-nav:checked:nth-of-type(2)~.slider-inner{
    left: -100%;
}
.slider-nav:checked:nth-of-type(3)~.slider-inner{
    left: -200%;
}
.slider-inner{
    position: absolute;
    top: 20px;
    left: 0;
    width: 300%;
    height: 100%;
    display: flex;
    transition: left 1s;
}
.slider-contents{
    height: 100%;
    width: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}
.slider-img{
    width: auto;
    height: 200px;
    border-radius: 10px;
    transform: scale(1);
    transition: all .3s ease-in-out;
    z-index: 3;
    margin-top: 180px;
}
.slider-img:hover{
    transform: scale(1.1);
    transition: all .3s ease-in-out;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.242);
    cursor: pointer;
}
@keyframes check{
    50%{
        outline-color: #F59E0B;
    }
    100% {
        outline-color: #F59E0B;
    }
}
.resume-button{
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 50vh;
    align-items: center;
    justify-content: center;
    /* clip-path: polygon(100% 0, 100% 100%, 50% 91%, 0 100%, 0 0); */
}
.resume-button div{
    background-color: #14B8A6;
    text-align: center;
    padding: 20px 60px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
.resume-button div a{
    color: black;
    text-transform: uppercase;
    font-size: 20px;
}
.resume-button div:hover{
    background-color: #F59E0B;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
/* resume page */
.resume {
    background: linear-gradient(to right, rgb(216, 216, 216) 30%, white 30%);
    width: 90%;
    margin: 10px auto;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    /* align-items: stretch;  */
}
.myname{
    background-color: white;
    width: 40%;
    height: 100px;
    padding: 50px;
    margin: 0 auto;
    margin-top: 50px;
    border: solid 1px black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.myname h2{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 35px;
    letter-spacing: 3px;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.left-column {
    width: 30%; 
    padding: 20px;
    box-sizing: border-box;
    padding: 20px 40px;
}
.details{
    padding: 0 10px;
}
.details h4{
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: solid 1px black;
    padding: 5px 0;
    font-size: 20px;
    font-weight: 600;
}
.details h5{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 0;
    font-weight: 600;
}
.details p{
    font-size: 16px;
    letter-spacing: 1px;
    padding: 5px 0;
    font-weight: 300;
}
.details a{
    font-size: 16px;
    letter-spacing: 1px;
    padding: 5px 0;
    font-weight: 300;
    color: black;
    transition: all .3s ease;
}
.details a:hover{
    color: #F59E0B;
    transition: all .3s ease;
    text-decoration: underline;
}
.skills{
    padding: 0 10px;
}
.skills h3{
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: solid 1px black;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 600;
}
.skills li{
    font-size: 16px;
    letter-spacing: 1px;
    padding: 5px 0;
    font-weight: 300;
}
.skills ul{
    padding: 0 12px;
    list-style: square;
}
.right-column {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    /* background-color: red; */
}
.obj h3{
    font-weight: 300;
}
.obj span{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}
.qual h3{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    border-bottom: solid 1px black;
    padding: 10px 0;
}
.qual ul{
    padding: 0 12px;
    list-style: square;
    padding-left: 30px;
}
.qual li{
    font-size: 16px;
    letter-spacing: .5px;
    padding: 5px 0;
    /* font-weight: 300; */
}
.ed h3{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    border-bottom: solid 1px black;
    padding: 10px 0;
}
.ed p{
    font-size: 16px;
    letter-spacing: .5px;
    padding: 5px 0;
}
.empexp h3{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    border-bottom: solid 1px black;
    padding: 10px 0;
}
.empexp p{
    font-size: 16px;
    letter-spacing: .5px;
    padding: 5px 0;
    font-weight: bold;
}
.empexp ul{
    padding: 0 12px;
    list-style: square;
    padding-left: 30px;
}
.empexp li{
    font-size: 16px;
    letter-spacing: .5px;
    padding: 5px 0;
}
.volexp h3{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    border-bottom: solid 1px black;
    padding: 10px 0;
}
.volexp p{
    font-size: 16px;
    letter-spacing: .5px;
    padding: 5px 0;
    font-weight: bold;
}
.volexp ul{
    padding: 0 12px;
    list-style: square;
    padding-left: 30px;
}
.volexp li{
    font-size: 16px;
    letter-spacing: .5px;
    padding: 5px 0;
}
.projects h3{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    border-bottom: solid 1px black;
    padding: 10px 0;
}
.projects p{
    font-size: 16px;
    letter-spacing: .5px;
    padding: 5px 0;
    font-weight: bold;
}
.projects ul{
    padding: 0 12px;
    list-style: square;
    padding-left: 30px;
}
.projects li{
    font-size: 16px;
    letter-spacing: .5px;
    padding: 5px 0;
}
.projects a{
    color: black;
    transition: all .3s ease;
}
.projects a:hover{
    transition: all .3s ease;
    color: #F59E0B;
    text-decoration: underline;
}
.span-date{
    font-weight: 400;
    font-size: 14px;
}
/* contact pg */
/* create header just for contact page to keep header fixed in that page */
.ctnc{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../media/dummybg.png");
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
}
.contact-pg{
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D1D5DB;
}
.contact-pg div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-pg h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 10px 0;
    letter-spacing: 2px;
}
.input-area{
    padding: 10px;
    border: none;
    border-bottom: solid 1px black;
    margin: 20px 0;
    background-color: #D1D5DB;
    width: 500px;
    transition: all .3s ease;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}
.input-area:focus{
    border-color: #F59E0B;
    box-shadow: 0 1px 1px -2px #F59E0B;
}
.input-area::placeholder{
    color: black;
}
.msg-area{
    width: 500px;
    height: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    resize: none;
    outline: none;
    border: none;
    border: solid 1px black;
    transition: border-color 0.3s, box-shadow 0.3s;
    color: black;
}
.msg-area:focus {
    border-color: #F59E0B; /* Change border color on focus */
    box-shadow: 2px 2px 5px #F59E0B(0, 123, 255, 0.5);
  }
.submit-btn{
    padding: 10px;
    width: 100px;
    outline: none;
    border: none;
    border-left: solid 1px #F59E0B;
    border-right: solid 1px #F59E0B;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #F59E0B;
    transition: all .3s ease-in-out;
}
.submit-btn:hover{
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px #F59E0B;
    border-top: solid 1px #F59E0B;
    transition: all .3s ease-in-out;
    cursor: pointer;
    /* background-color: #F59E0B; */
}
/* footer */
footer{
    display: flex;
    background-color: #1F2937;
    width: 100%;
    height: 150px;
}           
.footer-img img{
    width: 150px;
    height: auto;
}
.footer-elements{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    width: 100%;
    gap: 20px;
}
.footer-elements button{
    width: 200px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #14B8A6;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}
.footer-elements button:hover{
    background-color: #F59E0B;
    transition: all .3s ease-in-out;
    cursor: pointer;
}   
.footer-desc{
    text-align: center;
    width: 30%;
    margin-left: auto;
    color: white;
}
.footer-desc div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-form{
    padding: 0 130px;
}